function video_library_loadDatabase (databaseURL, success, failure) {
  $.get (databaseURL,
    function (databaseElement) {
      success (video_library_parseDatabase (databaseElement));
    },
    'xml'
  )
  .fail (function () {
    strictError ('[video_library][video_library_loadDatabase] Error: an error occured while trying to load "' + databaseURL + '".');
    failure ();
  });
}

function video_library_parseDatabase (databaseElement) {
  var database = {};
  $('database > library', databaseElement).each (
    function (i, libraryElement) {
      var library = video_library_parseLibrary (libraryElement);
      database [library.name] = library;
  });

  return database;
}