<div id='main_content'>
  <div id='header_padding'/>
  <div class='main_banner_block'/>
  <div id='body'>
    <div class='book_body_block'><span class='core_id_block'/></div>
    <div id='book_articles_section'>
      <h2>Featured Additions</h2>
      <hr/>
      <p>Below are featured articles we would like to bring to your attention.</p>
      <div class="article_article_list_block"/>
    </div>
    <div id='book_parts_section'>
      <h2>Navigation List</h2>
      <hr/>
      <p>Below are the main sections of the eOffer/eMod User Guide. You may also browse this Guide by clicking the Navigation menu button in the top left corner of the page.</p>
      <div class='book_contents_block'>
        <div class='book_element_id'><span class='core_id_block'/></div>
        <div class='book_expand_level'>100</div>
        <div class='book_expandible'>false</div>
        <div class='book_selected_element_id'><span class='core_id_block'/></div>
      </div>
    </div>
    <div class='rate_block'/>
  </div>
</div>

