<div>
  <div class='template_header'>
    <h3><span class='menu_node_label_block'><span class='template_id_block'/></span></h3>
    <div class='menu_contents_block'>
      <div class='menu_id'><span class='template_id_block'/></div>
      <div class='menu_num_columns'>2</div>
      <div class='menu_max_level'>1</div>
      <div class='menu_expand_level'>1</div>
      <div class='menu_expandable'>false</div>
      <div class='menu_selected_element_id'><span class='core_id_block'/></div>
    </div>
  </div>
  <div class='template_hole_block'></div>
</div>
